.footer {
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #ffff;
}
.footer__copyrigth {
    max-width: 194px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    margin-bottom: 35px;
}
