.header {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Inter-Regular";
}
.header__logo {
    max-width: 255px;
    min-height: 69px;
    margin: 34px auto 0;
}

.header__title {
    max-width: 720px;
    max-height: 200px;
    margin: 91px auto 0;
    font-family: "Inter-Black";
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}
.header__subtitle {
    max-width: 720px;
    max-height: 72px;
    font-family: "Inter-Regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 32px auto 64px;
}

.header__image {
    max-width: 984px;
    max-height: 615px;
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        max-width: 320px;
        margin: auto;
    }
    .header__title {
        font-size: 40px;
        line-height: 44px;
    }

    .header__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px;
    }

    .header__image {
        max-width: 320px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .header {
        max-width: 720px;
        margin: auto;
    }
    .header__title {
        width: 707px;
        font-size: 75px;
        line-height: 79px;
    }
    .header__subtitle {
        margin: 25px auto 30px;
    }

    .header__image {
        max-width: 720px;
    }
}
